div {
  width: 100px;
  height: 100px;
  background-color: darkgreen;
  border-radius: 50px;
}

div:hover {
  background-color: chartreuse;
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: ease;
}