.container {
  border: 3px solid red;
  display: flex;
  flex-flow: row;
}

.container > div {
  border: 2px solid black;
  width: 400px;
  height: 100px;
  text-align: center;
}

.item1, .item3 {
  flex-grow: 1;
}

.item2 {
  flex-grow: 2;
}