ul {
  list-style-type: none;
}

li {
  border: 3px solid firebrick;
  border-radius: 30px;
  display: inline-block;
}

a {
  text-decoration: none;
  padding: 10px;
}

li:hover {
  background-color: blanchedalmond;
}